# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
*.env

# Testing & Caches
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
npm-debug.log*

# OS specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
